
label {
    float: left;
}
input {
    float: left;
    margin-top: 10px;
    margin-bottom: 5px;
}
.btn-default {
    color: #555;
    margin-top: 5px;
}
.btn-large {
    color: #c3c3c3;
    background-color: transparent;
    border-color: #c3c3c3;
    margin: 10px 0 5px 5px;
}
.btn-large:hover {
    color: #c3c3c3;
    background-color: #7D1010;
    border-color: #c3c3c3;
}
.form-error p {
    font-size: 9px !important;
    color: #BC3434  !important;
    padding-left: 5px;
}
.error {
    background: #7D1010;
    color: #c3c3c3;
    text-align: center;
    margin-top: -20px;
}
.success {
    background: #81CE69;
    color: black;
    text-align: center;
    margin-top: -20px;
}
.feed-item {
    border: 1px dotted black;
    padding: 1px;
}
.empty {
    width: 200px;
    margin: 0 auto;
}
.feed-header {
    border: 1px solid black;
    padding: 3px;
    font-weight: bold;
    font-size: large;
}
.pagination a {
    padding: 3px;
}
.search-box {
    margin-top: 0px;
    width: 276px;
}
.search-filter {
    height: 26px;
}
.feed-search-panel {
    margin-bottom: 42px;
    margin-left: -30px;
}
.footer {
    width: 100%;
    height: 100px;
    background: #101010;       
}
.footer-text {
    padding-top: 62px;
    margin: 0 auto;
    width: 200px;
}
.container {
    min-height: 700px;
    margin-bottom: 138px;
}
.container-nav {
    padding-right: 60px;
}
.loading {
    height: 20px;
    width: 20px;
}